/* Let's get this party started */

/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Okay, now we're getting the party started */

html, body {
	background-color: hsl(206, 63%, 16%);
	color: hsla(206, 65%, 95%, 1);
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

h1 { font-size: 3em; font-weight: 700; }
h2 { font-size: 2em; font-weight: 700; }
h3 { font-size: 1.5em; font-weight: 400; }
a { 
	color: hsla(206, 65%, 95%, 1);
	border-bottom: 0.1em dashed; 
	padding-bottom: 0.2em;
	text-decoration: none;
}

.day_resting_hr_summary {
	text-align: center;
	margin-top: 2em;
	font-family: 'Arimo', sans-serif;
}

.resting_hr {
	margin-top: 0.5em;
	font-size: 1.2em;
	text-transform: uppercase;
}

.resting_hr i {  }

#hr_chart {
	margin-top: 1em;
	background-color: hsl(206, 63%, 16%)e;
}