{% extends 'layout.html' %}

{% block title %}Heart Rate Data for {{ retrieved_day.date.strftime('%b %d, %Y') }} {% endblock %}

{% block content %}

	<div class="day_resting_hr_summary">
		<h1>{{ retrieved_day.date.strftime('%b %d, %Y').upper()}}</h1>
		{% if retrieved_day.resting_hr != 0 %}
			<div class="resting_hr"><i class="fa fa-heartbeat"></i> Resting: {{ retrieved_day.resting_hr }} bpm</div>
		{% else %}
			<div class="resting_hr"><i class="fa fa-heartbeat"></i> Resting: Unavailable</div>
		{% endif %}
	</div>

	<a href="{{ url_for('sync_hr_data', year=retrieved_day.date.year, month=retrieved_day.date.month, day=retrieved_day.date.day) }}">Sync with Fitbit</a>

	<ul>
	{% for hr in retrieved_day.get_heart_rate_data() %}
		<li>{{ hr.time }}: {{ hr.value }}</li>
	{% endfor %}
	</ul>



{% endblock %}