{% extends 'layout.html' %}

{% block title %}Heart Rate Data for {{ retrieved_day.date.strftime('%b %d, %Y') }} {% endblock %}

{% block content %}

	<div class="day_resting_hr_summary">
		<h1>{{ retrieved_day.date.strftime('%b %d, %Y').upper()}}</h1>
		<div class="resting_hr">
		{% if retrieved_day.resting_hr != 0 %}
			<i class="fa fa-heartbeat"></i> Resting: {{ retrieved_day.resting_hr }} bpm
		{% else %}
			<i class="fa fa-heartbeat"></i> Resting: Unavailable
		{% endif %}
		| <i class="fa fa-refresh"></i> <a href="{{ url_for('sync_hr_data', year=retrieved_day.date.year, month=retrieved_day.date.month, day=retrieved_day.date.day) }}">Sync</a>
		</div>
	</div>
	
    <div class="chart-container">
	   <canvas id="hr_chart"></canvas>
    </div>

<script>
var ctx = document.getElementById("hr_chart");
Chart.defaults.global.defaultFontColor='hsla(206, 65%, 95%, 1)';
var heartRateChart = new Chart(ctx, {
    type: 'line',
    data: {
        datasets: [{
            label: 'Heart Rate (bpm)',
            data: {{ retrieved_day.prepare_hr_data_graph()|safe }},
            backgroundColor: 'hsla(10, 65%, 40%, 1)',
            borderColor: 'hsla(10, 45%, 40%, 1)',
            borderCapStyle: 'butt',
            borderJoinStyle: 'round',
            fill: false,
            pointRadius: 0,
            pointHitRadius: 3,
            // showLine: false,
        }]
    },
    options: {
        scales: {
            xAxes: [{
                type: 'time',
                fontColor: '#fff',
                position: 'bottom',
                unit: 'minute',
                time: {
                    unit: 'hour',
                    displayFormats: {
                        hour: 'h A'
                    },
                	parser: 'hh:mm'
                },
            }]
        },
        legend: {
            display: true
        }
    }
});
</script>

{% endblock %}