{% extends 'layout.html' %}

{% block title %}Heart Rate Data for {{ retrieved_day.date.strftime('%b %d, %Y') }} {% endblock %}

{% block content %}

	<h1>Heart Rate Data: {{ retrieved_day.date.strftime('%b %d, %Y') }}</h1>
	{% if retrieved_day.resting_hr != 0 %}
	<p>Resting Heart Rate: {{ retrieved_day.resting_hr }}</p>
	{% else %}
	<p>Not enough data available for a resting heart rate yet.</p>
	{% endif %}

	<a href="{{ url_for('sync_hr_data', year=retrieved_day.date.year, month=retrieved_day.date.month, day=retrieved_day.date.day) }}">Sync with Fitbit</a>

	<ul>
	{% for hr in retrieved_day.get_heart_rate_data() %}
		<li>{{ hr.time }}: {{ hr.value }}</li>
	{% endfor %}
	</ul>



{% endblock %}