<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Pulse{% endblock %}</title>
	<meta charset="utf-8">
	<script src="https://use.fontawesome.com/67f2941260.js"></script>
	<script src="{{ url_for('static', filename='Chart.bundle.min.js') }}"></script>
	<link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Arimo:400,700|Open+Sans:400,600" rel="stylesheet">
</head>
<body>

	{% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
			{% for category, message in messages %}
				<p>{{ category }}: {{ message }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}

	{% block content %}{% endblock %}
</body>
</html>